body {
  background-color: #ceeb4c;
  margin: 0;
}

#login,
#order {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#login li {
  list-style-type: none;
}

#login input,
#login button,
#order input,
#order button {
  margin: 3px;
  padding: 17px 40px;
  width: 300px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.1s ease;
}

#login button,
#order button {
  width: 300px;
}

#order button:active,
#order button:focus {
  letter-spacing: 3px;
  background-color: #ee1ed5;
  color: hsl(0, 0%, 100%);
  box-shadow: 0 0 0 rgba(255, 93, 236, 0);
  transition: 10ms;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}
